.profile__person {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .profile__person {
        flex-direction: column;
    }
}