.elements__likebtn {
    background-image: url(../../../images/likebtn.svg);
    background-repeat: no-repeat;
    /*
    background-size: contain;
    background-position: center;
    margin: 0 5px 0 5px;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
    width: calc(100%/11.18);
    height: calc(100%/1.21);
    cursor: pointer;
    border: none;
    outline: none; */
}

.elements__likebtn:hover {
    opacity: .5;
    transition: opacity 2s ease;
}