.profile__pencil {
    background: url(../../../images/editbtn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
    min-width: 10px;
    min-height: 10px;
}

@media screen and (max-width: 426px) {
    .profile__pencil {
        min-width: 7.5px;
        min-height: 7.5px;  
    }
}