.logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: calc(100%/6.2);
    justify-self: start;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: calc(100%/4.5);
    }
}

@media screen and (max-width: 425px) {
    .logo {
        padding-left: 27px;
        width: calc(100%/3);
    }
}