.profile__plus {
    background: url(../../../images/addbtn.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
    min-width: 22px;
    min-height: 22px;
}

@media screen and (max-width: 426px) {
    .profile__plus {
        min-width: 16px;
        min-height: 16px;
    }
}