.profile__avatar {
    grid-area: avatar;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    max-width: 120px;
}

/*
.profile__avatar:hover {
    opacity: 0.2;
    background-color: #C4C4C4;
} */