.profile__avatar {
    grid-area: avatar;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: transparent;
    opacity: 1;
}